/* RESET PADRÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #032841;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #031240;
    width: 350px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    margin-bottom: 30px;
}

.logosm {
    width: 200px;
    height: auto;
}

.form {
    width: 100%;
}

.form input[type="text"],
.form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    background-color: #094066;
    color: white;
}

.form input[type="text"]::placeholder,
.form input[type="password"]::placeholder {
    color: #e0e0e0;
}

.form .forgot-password {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    text-align: right;
}

.form .forgot-password:hover {
    color: #ffffff;
}

.login-button {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    background-color: #031240;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #094066;
}

/* Responsivo */
@media (max-width: 768px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    .logosm {
        width: 150px;
    }
}
