/* RESET PADRÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER DA LOGO */
.container-logo {
    background-color: #032841;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.box-color {
    background-color: #032841;
    width: 15.9%;
    height: 3000px;
}

.container-logo .logoescrita {
    width: auto;
    height: 30px;
    margin-left: 10%;
}

/* CONTAINER DO MENU */
.menu-container {
    width: 159px; /* Largura do container do menu */
    margin: 0;
    background-color: #032841;

    
}

/* ITEM DO MENU */
.menu-item {
    border: 1px solid #032841;
    margin-bottom: 0;
    overflow: hidden;
}

/* CABEÇALHO DO MENU */
.menu-header {
    background-color: #032841;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: white;
}

/* ÍCONES DO CABEÇALHO */
.menu-header i {
    margin-right: 10px;
    color: white;
    
}

/* CONTEÚDO DO MENU */
.menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    background-color: #032841; /* Fundo branco para o conteúdo do menu */

}

/* LINKS DO CONTEÚDO */
.menu-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-top: 1px solid white
}

/* EFEITO HOVER NOS LINKS */
.menu-content a:hover {
    background-color: #094066;
}
