/* RESET PADRÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER DA LOGO */
.container-logo {
    background-color: black;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.container-logo .logoescrita {
    width: auto;
    height: 30px;
    margin-left: 10%;
}

/* CONTAINER DO MENU */
.menu-container {
    width: 150px; /* Largura do container do menu */
    margin: 0px;
    background-color: black;

    
}

/* ITEM DO MENU */
.menu-item {
    border: 1px solid #01b9f1;
    margin-bottom: 1px;
    border-radius: 5px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do item */
}

/* CABEÇALHO DO MENU */
.menu-header {
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

/* ÍCONES DO CABEÇALHO */
.menu-header i {
    margin-right: 10px;
    
}

/* CONTEÚDO DO MENU */
.menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    background-color: #8511f1; /* Fundo branco para o conteúdo do menu */

}

/* LINKS DO CONTEÚDO */
.menu-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-top: 1px solid #f50404;
}

/* EFEITO HOVER NOS LINKS */
.menu-content a:hover {
    background-color: #f509d5;
}
