/* RESET PADRÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BARRA SUPERIOR */
.top-bar {
    background-color: #032841;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: white;
    height: 50px;
}

/* CONTAINER DA LOGO */
.container-logo .logoescrita {
    width: auto;
    height: 30px;
}

/* INFORMAÇÕES DO USUÁRIO */
.user-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    margin-right: 15px;
}

.notification-icon {
    font-size: 20px;
}

/* MENU LATERAL */
.box-color {
    background-color: #032841;
    width: 200px;
    height: 100vh;
    padding-top: 10px;
    color: white;
}

.menu-container {
    width: 100%;
}

.menu-item {
    border-bottom: 1px solid white;
    overflow: hidden;
}

/* CABEÇALHO DO MENU */
.menu-header {
    background-color: #032841;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: white;
}

/* ÍCONES DO CABEÇALHO */
.menu-header i {
    margin-right: 10px;
    color: white;
}

/* CONTEÚDO DO MENU */
.menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    background-color: #094066;
}

.menu-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

.menu-content a:hover {
    background-color: #04395E;
}

/* CORRIGINDO LAYOUT NO MOBILE */
@media (max-width: 768px) {
    .box-color {
        width: 100%;
        height: auto;
    }

    .top-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-info {
        justify-content: flex-end;
        width: 100%;
    }
}
